# Web Framework & Server
fastapi[standard]

# Asynchronous Relational DB (SQLAlchemy + AsyncPG for Supabase)
sqlalchemy>=2.0.0
asyncpg>=0.29.0

# Asynchronous Document DB (Motor for MongoDB Atlas)
motor>=3.3.0

# Asynchronous Serverless Redis (Upstash SDK)
upstash-redis>=1.0.0

# Data Validation & Environment Parsing
pydantic[email]
pydantic-settings
python-dotenv

# Security & Authentication
passlib[bcrypt]
python-jose[cryptography]
python-multipart